body
{
  color: white;
  background: purple;
}
span
{
  font-size: 30px;
}
#webcam , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_hand_name ,#result_hand_name2  
{
  color: black;
}
.hand_name
{
  font-size: 40px;
}
.hand
{
  font-size:48px;
}
.header{
font-size: 18px;
border-radius: 10px;
letter-spacing: 10px;
}
label{
font-size: 14px;
color: rgb(17, 14, 216);
padding: 6px;
border-radius: 10px;
background-color: white;
}